<div class="flex flex-row bg-yellow-50 h-screen">
  <div class="basis-1/5 bg-red-400">
    <input
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      type="text"
      #title
      [(ngModel)]="todoListInput"
    />
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      type="button"
      (click)="addNewList(title.value)"
      [disabled]="todoListInput === ''"
    >
      create new list
    </button>
  </div>
  <div class="basis-4/5 bg-blue-500">
    <div
      class="toDoListContainer h-full flex justify-center flex-wrap overflow-auto items-center relative"
      #toDoListContainer
    >
      <div *ngFor="let list of lists; let i = index">
        <app-to-do-list
          class="absolute"
          [style.margin-top.px]="list.margin.top - 150"
          [style.margin-left.px]="list.margin.left - 150"
          [todoList]="list"
        ></app-to-do-list>
      </div>
    </div>
  </div>
</div>
