<div class="flex flex-row bg-yellow-50 h-screen">
  <div class="basis-1/5 bg-red-400">
    <input type="text" #title [(ngModel)]="todoListInput" />
    <button type="button" (click)="addNewList(title.value)">
      create new list
    </button>
  </div>
  <div class="basis-4/5 bg-blue-500">
    <div class="toDoListContainer h-full relative flex justify-center flex-wrap overflow-auto items-center relative"
      #toDoListContainer>
      <div *ngFor="let list of listsToDisplay; let i = index" class="absolute" [style.margin-top.px]="i * 50"
        [style.margin-left.px]="i * 50" cdkDrag cdkDragBoundary=".toDoListContainer">
        <app-to-do-list [todoList]="list"></app-to-do-list>
      </div>
    </div>
  </div>
</div>